<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rapid.Tools.SPDeploy.AddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Rapid.Tools.SPDeploy.AddIn.Properties.Settings>
            <setting name="Rapid_Tools_SPDeploy_AddIn_SPToolsWebService_SPToolsWebService"
                serializeAs="String">
                <value>http://wa1devnint01/_layouts/SPTools/SPToolsWebService.asmx</value>
            </setting>
            <setting name="Rapid_Tools_SPDeploy_AddIn_Lists_Lists" serializeAs="String">
                <value>http://wa1devnint01/_vti_bin/Lists.asmx</value>
            </setting>
        </Rapid.Tools.SPDeploy.AddIn.Properties.Settings>
    </applicationSettings>
</configuration>